* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
}

.container {
    background-color: #500000;
    width: 90%;
    margin: 100px auto;
    display: flex;
    padding: 10px;
}

.box {
    background-color: #FFFFFF;
    height: 300px;
    padding: 150px 0;
    text-align: center;
    border: #500000 solid 5px;
    flex: 1;
    transition: 1s;
    display: flex;
}

img {
    max-width:30%;
    height:auto;
}

.box:hover {
    flex: 2;
    text-align: left;
    padding: 25px 20px;
  }
  
.info:hover {
    color: black;
  }
  
.info {
    display: flex;
    color: transparent;
  }
